
/* Media Queries: Tablet Landscape */
body{
  background-color: #fff;
  position: relative;
  padding-bottom: 28px;
  min-height: 100vh;

}
h1{
  font-family: 'Kaushan Script', cursive;
  font-weight: bolder;
}
hr{
  align-items: center;
  border-style: solid;

  width: 60%;

  opacity: 0.25;
}
#skills{
  text-align: center;
  background-color: #2C394B;
  color: #fff;
}

.skill-img{
  border-radius: 50%;
}

#me{
  text-align: center;
  background-color: #FAF3F3;

}
.row{
  font-family: "Ubuntu";
  font-weight: bold;
  font-style:  italic;
}

#contact{
  background-color: #FAF3F3;
  text-align: center;
  padding-top:1rem;
}

.ffab{
  padding: 1rem;
}

.ffab:hover{
  transform: scale(2);
}

.fab{
  /* padding: 1rem; */
  width: 5%;

}

.fab:hover{
  transform: scale(2);
}

.mycon2{
  font-family: "Montserrat";
  font-weight: bolder;
}
#last{
  height: 28px;
  text-align: center;
  background-color: #2C394B;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;

}


.text-intro{
  padding-right: 8rem;
}

@media (max-width: 1000px) {
  #me{
    text-align: left;
    padding-right: 0px;
    padding-bottom: 2rem;
  }

  .text-intro{
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
  }

}
@media (max-width: 1000px) {
  .mypic{
    text-align: center;
    padding-left: 90px;
  }

}

.skill-car{
  padding-top: 20px;
}


.fabss{
  padding-bottom: 15px;
}

.dropdown-item{
  color: #fff;
}
