*{
      margin: 0;
      padding : 0;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   text-align: center;
   margin: auto;
   font-family: 'Montserrat', sans-serif;
}

.mypic{
  height: 300px;
  width:250px;
  /* margin-top: 1%; */
  margin-left: 30%;
  margin-right: 0;

}

.navbar{

  background-color: #AAAAAA;
}

@media only screen and (max-width: 770px) {
   .mypic{
     margin-left: 10%;
     margin-right: 0;
     height: 200px;
     width: 150px;

   }
   .text-intro{
     margin-left: 0;
     margin-top: 0;
   }

   .des{
     width: 60%;
     text-align: center;
     margin-left: 20%;
   }
   .video-wrapper{
     width: 80%;
     height: 130%;
   }

   .allcards{
     margin: auto;
     width: 50%;
}
	
  .card{
    width: 70%;
    margin-bottom: 10%;
    margin-top: 3%;
    padding-bottom: 10%;
  }
  .videos{
    margin-bottom: 0;
  }
  .skillset{
    padding-bottom: 3%;
  }
  .last{
    margin-left:0;
  }
}
@media only screen and (max-width: 470px) {
  .allcards{
    width: 65%;
    margin: auto;
/*     padding-left: 10%; */
  }
}
.btn {
  width: 145px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color: #2EE59D;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }


.text-intro{
  margin-top: 7%;
  margin-left: 7%;
   font-family: 'Montserrat', sans-serif;
}

#me{
  margin-bottom:0;
}

#skills{
  background-color: #C9CCD5;
}

.another{
  padding-top: 2%;
}
@media only screen and (min-width: 1100px) {
  .des{
    width:90%;
    padding-left: 2%;
  }

}

.ffab{
  margin: 1%;
}

.fab{
  margin: 1%;
}

#contact{
  margin-top: 1%;
}

#workk{
  padding-top: 1.5%;
}

.middle-container{
  padding-top: 1.5%;
}




.videos{
  margin-top: 5%;
  margin-bottom:7%;
}

.elvesit{
  margin-top: 4%;
}

.el{
  margin-bottom: 0;
}
.card{
  margin-left: 3%;
  margin-right: 3%;
  background-color: #F5F4F4;
  border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.allcards{
  margin-left: auto;
  width: 1300;

}

.card{
  padding-bottom: 1.5%;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#alllcards{
  background-color:  #C9CCD5;
}
.blank{
    background-color:  #C9CCD5;
    padding-top: 2%;
    padding-bottom: 2%;
}
hr.style6 {
	background-color: #fff;
	border-top: 5px dotted #2B2B2B;
  width: 50%;
  margin-left: 25%;

}

.engg{
  width: 85%;
  padding-left: 10%;
  padding-top: 2%;
}

.blankl{
  height: 2%;
}

.video-wrapper{
  padding-bottom: 6%;
}

.block-effect {
  font-size: calc(4px + 3vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 5s  var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards , revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.car{
  margin-top: 1%;
}

.fab:hover{
  transform: scale(2);
}

.ffab:hover{
  transform: scale(2);
}
#last{
	margin: 2%;
}
